
# vs code folders
.vscode

# python folders
__pycache__
venv
.venv*
.pytest_cache

# fbs folders
target

# personal resource folders
inkscape
PPT

# misc reference code from internet and other project
misccode

# MS Office
*.xlsx
*.pptx
